doctype 5
html(lang="en")
  head
    title= pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/static/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="/static/vendor/jquery-ui-1.10.3.custom/css/flick/jquery-ui-1.10.3.custom.min.css", rel="stylesheet", media="screen")
    link(href="/static/rotator/style/control.css", rel="stylesheet", media="screen")
    script(src="/static/vendor/jquery-1.10.2.min.js")
    script(src="/static/vendor/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js")
    script(src="/static/vendor/jQueryRotateCompressed.2.2.js")
    script(src="http://localhost:8044/socket.io/socket.io.js")
    script(type='text/javascript')
      var socket = io.connect('http://localhost:8044');

      $(function(){
        $( ".control-slider" ).slider({
          range: 'max',
          min: -4,
          max: 4,
          value: 0,
          step: 0.1,
          slide: function(event, ui) {
            console.log(ui.value)
            socket.emit('rotation.update', {'rvel': ui.value})
          }
        })
      })

      socket.emit('rotation.ask')

      socket.on('rotation.update', function(data) {
        $('.control-slider').slider('option', 'value', data.rotation.rvel)
      })

body
    .container.rotator-container
      h1 Control
      p Just don't... touch anything.
      h2 Speed
      div.control-slider
