doctype 5
html(lang="en")
  head
    title= pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/static/bootstrap/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="/static/rotator/style/rotator.css", rel="stylesheet", media="screen")
    script(src="/static/js/jquery-1.10.2.min.js")
    script(src="/static/js/jQueryRotateCompressed.2.2.js")
    script(src="http://localhost:8044/socket.io/socket.io.js")
    script(type='text/javascript')
      console.log('welcome javascript!')
      var rotation = 0
      setInterval(function(){
        rotation += 0.1
        $('.rotator-image').rotate(rotation)
      }, 1)

    script(type='text/javascript')
      var socket = io.connect('http://localhost:8044');

      socket.emit('ping')

      socket.on('pong', function (data) {
        console.log('received pong')
        socket.emit('ping')
      });

body
    .container.rotator-container
      h1 Rotator
      p Spin, spin, spin, spin...
      div.rotator-image
