doctype 5
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript')
      console.log('welcome javascript!')
  body
    h1 Rotator
    #container
      p Spin, spin, spin, spin...
